/* App.css */

#root {
    margin: 0 auto;
    text-align: center;
}

.card {
    padding-top: 2em;
    height: 325px;
    margin: 0 auto;
}

.card-buttons {
    padding: 1em;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button,
.back-button,
.buttons-container a {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s, box-shadow 0.25s, transform 0.1s;
    text-decoration: none;
    display: inline-block;
}

.button:hover,
.back-button:hover,
.buttons-container a:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

.about-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    gap: 30px;
}

.about-card {
    display: block;
    padding: 40px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.2s;
    background: #222222;
    color: white;
    text-decoration: none;
}

.about-card:hover {
    transform: translateY(-5px);
}

.assignment,
.resources {
    padding-top: 2em;
    padding-bottom: 4em;
}

.resource-links ul {
    list-style-type: none;
    margin: 0;
}
