#root {
    max-width: 1280px;
    margin: 0 auto;
    /*padding: 2rem;*/
    text-align: center;
}

.card {
    width: 1000px; /* 80% of the viewport width */
    height: 325px;
    margin: 0 auto; /* Ensure it's centered horizontally */
    padding: 2em; /* Optional padding for content inside */
    background-color: #212121;
}


.card-buttons {
    padding: 1em;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button, .back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s, box-shadow 0.25s, transform 0.1s;
}

.button:hover, .back-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.about-us {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: #292929;*/
}

.about-us-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    gap: 30px;
}

.about-card {
    display: block; /* Ensures the entire card is clickable */
    padding: 40px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.2s;
    background: #222222;
    color: white; /* Ensures text color is white */
    text-decoration: none; /* Removes underline from the link */
}

.about-card:hover {
    transform: translateY(-5px);
}
